<!--base 기본 html 기반하에 home 추가 -->
{% extends 'base.html' %}

<!--add 필터에는 변수를 적용할 수 없기 때문에 만든 filter 모듈 -->
{% load sales_filter %}


{% block content %}
<div
        class="container my-3">
</div>

<!--썸네일 목록-->
<!--대빵크게 찾기 검색-->
<!--메뉴버튼-->
<!-- SNS -->
<!-- MyPage -->
<!-- MyPage -->


<!--categories-->
<ul class="">
    <li class="css-1qq4m5z">
        <a color="#FFFFFF" bgcolor="#FFFFFF" data-element="Link" data-component="LinkIntrinsic" data-source-file="linkk.tsx" class="css-1mindeu e183ggqx2" href="linke" >
            <figure class="">
                <img data-element="StyledImage" data-component="CategoryCarouselItem" data-source-file="linkk.tsx" src="https://.png" height="0" class="">
            </figure>
            <p data-element="CategoryItemLabel" data-source-file="CategoryCarouselItem.tsx" class="css-llowbq a;sdf">패브릭</p>
        </a>
    </li>
</ul>

<!--move button-->

<div class="">
    <button type="button" aria-label="다음" class="css-123">
        <span class="asdf">
        </span>
    </button>
</div>

<!--추천기능-->

<div data-componenet="" data-source-file="tsx" class="">
    <div>
        <div class="sticky-container" style>
            <div style="position:relativel z-index: 901;">
                <div class="css-asdf">
                    <div class="asdf">
                        <ul class="Asdf">
                            <li>
                                <div class="구역">
                                    <label class="꾸미기 영역">
                                        <input type="checkbox" class="" checked>
                                        <span class="css">추천</span>
                                    </label>
                                </div>
                            <li>
                            <li>
                                <div class="구역">
                                    <label class="꾸미기 영역">
                                        <input type="checkbox" class="" checked>
                                        <span class="css">유용한</span>
                                    </label>
                                </div>
                            <li>
                            <li>
                                <div class="구역">
                                    <label class="꾸미기 영역">
                                        <input type="checkbox" class="" checked>
                                        <span class="css">추천</span>
                                    </label>
                                </div>
                            <li>
                            <li>
                                <div class="구역">
                                    <label class="꾸미기 영역">
                                        <input type="checkbox" class="" checked>
                                        <span class="css">추천</span>
                                    </label>
                                </div>
                            <li>
                                <div>
                                    <label class="dongle">
                                        <input type="checkbox" class="" checked>
                                        <span class="css">추천</span>
                                    </label>
                                </div>
                            </li>



                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--서브 연속으로 스크롤할수록 아이템나오는 기능-->
<div data-element="Container" data-component="SubModuleItemList" data-source-file="SubModuleItemList.tsx" class="">
    <div>
        <div data-virtuoso-scroller="true" data-element="VirtualizedList" data-component="SubModuleItemList" data-source-file="SubModuleItemList.tsx" class="asdf" style="position: relative; height: 18524px;">
            <div data-viewport-type="window" style="width: 100%; height: 100%; position:absolute; 0px;">
                <div data-test-id="vituoso-item-list" style="box-sizing: border-box; padding-top: 13026px; padding-bottom:22898px; margin-top: 0px;">
                    <div data-index="26" data-known-size="534" data-item-index="26" style="overflow-anchor: none;"></div>
                </div>
            </div>
        </div>
    </div>
</div>