{% extends 'base.html' %}
{% load sales_filter %}

{% block content %}
<div class="container my-3">
    <!--  알림 메시지 표시 -->
    {% if messages %}
    <div class="alert alert-danger my-3" role="alert">
        {% for message in messages %}
        <strong>{{ message.tags }}</strong>
        <ul>
            <li>{{ message.message }}</li>
        </ul>
        {% endfor %}
    </div>
    {% endif %}

    <!--  품목명 및 정보 -->
    <h2 class="border-bottom py-2">{{ product.pname }}</h2>
    <div class="card-body">
        <!--  질문 내용 표시 -->
        <!--        <div class="card-text">{{ product.content|mark }}</div>-->
        <div class="card-text">제품 번호 {{ product.pcode }}</div>
        <div class="card-text">카테고리 : {{ product.pcategory }}</div>
        <div class="card-text">품목 : {{ product.pname }}</div>
        <div class="card-text">단가 : {{ product.punitprice }}</div>
        <div class="card-text" >할인율 : {{ product.pdiscountrate }}%</div>
        <br>
        <!--  팝업창 이미지01 표시 -->
        {% if product.image01 %}
        <div>
            <h5>제품 이미지</h5>
            <img src="{{ product.image01.url }}" alt="Uploaded Image" style="max-width: 500px; height: auto;">
        </div>
        {% endif %}
        <!-- product 생성 일자 -->
        <div class="d-flex justify-content-end">
            {% if product.modify_date %}
            <div class="badge bg-light text-dark p-2 text-start mx-3">
                <div class="mb-2">modified at</div>
                <div>{{ product.modify_date }}</div>
            </div>
            {% else %}
            <!-- 수정 데이터가 없을 경우 가리기. -->
            {% endif %}
            <div class="badge bg-light text-dark p-2 text-start">
                <div class="mb-2">{{ product.author.username }}</div>
                <div>{{ product.create_date }}</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!-- 이전 이후 페이지 이동 기능 넣어보자....-->

{% block script %}
<script>
    $(document).ready(function() {

        // 삭제 버튼 클릭 시 확인 대화상자
        $('.delete').on('click', function() {
            if (confirm("정말로 삭제하시겠습니까?")) {
                location.href = $(this).data('uri');  // jQuery에서 data-attribute 접근
            }
        });
    });
</script>
{% endblock %}


